.buttons {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 35px;
    padding-top: 30px;

  }

button {

    background-color: darkgray;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
  }

.image{
    width: 95%;
    margin-left: 90px;
    margin-top: 15px;
}

